.chat-container {
    display: flex;
    flex-direction: column;
    min-width: 400px;
    max-width: 400px;
    min-height: 600px;
    max-height: 600px;
    width: 400px;
    height: 600px;
    position: fixed;
    right: 0;
    bottom: 0;
    border-radius: 4px;
    margin: 0 20px 60px 0;
    box-shadow: 0 0 15px 2px rgb(22, 27, 34, 0.3);
}

.chat-container.noSendBox .webchat__basic-transcript {
    max-height: 519px;
}

.webchat__basic-transcript {
    max-height: 478.4px;
}

.webchat__avatar {
    width: 32px;
    height: 32px;
    border-radius: 16px;
    text-align: center;
    /* background-color:  rgb(22, 27, 34); */
    background-color: #2266e3;
}

.webchat__avatar_initials {
    margin: 0;
    font-family: "Segoe UI", Arial, sans-serif;
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
    color: white;
    padding-top: 7px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.system-message .webchat__bubble__nub {
    display: none;
}

.system-message .webchat__stackedLayout__content [class^="css"]:not(.from-user).bubble {
    max-width: 100%;
}

.system-message [class^="css"]:not(.from-user) > .webchat__bubble__content {
    color: #605E5C;
    background: transparent;
    font-size: 12px;
    border: none;
    border-radius: 0;
    min-height: auto;
    line-height: 20px;
}

.system-message [class^="css"]:not(.from-user) > .webchat__bubble__content > p {
    padding: 0;
}

.system-message > [class^="css"] > .content > .webchat__row > .bubble {
    max-width: 100%;
}

.system-message > [class^="css"] > .content > .webchat__row > .bubble > div > div {
    padding-left: 0;
}

.system-message .timestamp {
    display: none;
}

.system-message .markdown {
    padding: 0;
    height: auto;
}

.webchat__typingIndicator {
    margin-left: 10px;
    margin-bottom: 5px;
    display: flex;
    transition: all .5s ease;
    align-items: center;
}

.webchat__typingIndicator > div {
    font-family: "Segoe UI", Arial, sans-serif;
    background: transparent;
    font-size: 12px;
    line-height: 15px;
    color: #605e5c;
}

.webchat__typingIndicator .bubble {
    height: 6px;
    width: 6px;
    border-radius: 6px;
    background: #2266e3;
    animation: bounce 2s ease infinite;
    margin-right: 2px;
}

.webchat__typingIndicator .bubble:nth-child(2) {
    animation-delay: .166s;
}

.webchat__typingIndicator .bubble:nth-child(3) {
    margin-right: 8px;
    animation-delay: .333s;
}

/* File attachments download icon */
.webchat__fileContent__downloadIcon {
    height: 14px;
    width: 14px;
}

.webchat__fileContent {
    padding: 5px 10px;
    flex-grow: 1;
}