.chat-button {
    position: fixed;
    right: 0;
    bottom: 0;
    border-radius: 25px;
    background-color: rgb(22, 27, 34);
    box-shadow: 0 0 5px 2px rgb(22, 27, 34);
    padding: 10px;
    margin: 0 20px 20px 0;
}

.chat-button:hover {
    box-shadow: 0 0 20px 2px rgb(22, 27, 34);
    transition: all 2s;
}

.chat-container {
    display: flex;
    flex-direction: column;
    min-width: 400px;
    max-width: 400px;
    min-height: 600px;
    max-height: 600px;
    width: 400px;
    height: 600px;
    position: fixed;
    right: 0;
    bottom: 0;
    border-radius: 4px;
    margin: 0 20px 60px 0;
    box-shadow: 0 0 15px 2px rgb(22, 27, 34, 0.3);
}

.chat-header {
    border-bottom: #E6E6E6 solid 1px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.action-bar {
    padding: 5px 12px;
}

.download-button {
    padding: 0 2px 0 0;
}

.email-button {
    padding: 0 2px 0 2px;
}