.calling {
    position: absolute;
    margin-top: 48px;
    z-index: 5;
}

.calling.active {
    width: 100%;
}

.calling > .video-container {
    position: relative;
    z-index: 5;
    width: 100%;
}

.calling > .video-container.active {
    background-color: rgb(22, 27, 34);
    height: 250px;
}

#remoteVideo {
    position: absolute;
    height: 100%;
    width: 100%;
}

#selfVideo {
    position: absolute;
    /* background-color: black; */
    height: 100px;
    width: 130px;
    right: 0;
    bottom: 0;
}

#remoteVideo > div {
    height: 100%;
}

#remoteVideo > video, #selfVideo > video {
    object-fit: fill !important;
}

.current-call-action-bar {
    z-index: 5;
    background-color: rgb(22, 27, 34);
    padding: 10px 0;
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 0;
}

.toggle-video-button {
    background-color: rgb(60, 60, 61);
    color: white;
    padding: 10px;
    width: 18px;
    height: 18px;
}

.toggle-mute-button {
    background-color: rgb(60, 60, 61);
    color: white;
    padding: 10px;
    width: 18px;
    height: 18px;
}

.stop-call-button {
    background-color: rgb(240, 73, 27);
    color: white;
    padding: 10px;
    width: 18px;
    height: 18px;
}