.incoming-call-pop-up {
    z-index: 5;
    background-color: rgb(22, 27, 34);
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
}

.incoming-call-pop-up > span {
    color: white;
    font-weight: 400;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    padding: 0 0 0 20px;
}

.incoming-call-pop-up > div {
    padding: 0 20px 0 0;
}

.reject-call-button {
    background-color: rgb(240, 73, 27);
    color: white;
    padding: 10px;
    border-radius: 25px;
    margin: 0 5px 0 5px;
}

.accept-video-call-button {
    background-color: rgb(0, 128, 0);
    color: white;
    padding: 10px;
    border-radius: 25px;
    margin: 0 5px 0 5px;
}

.accept-voice-call-button {
    background-color: rgb(0, 128, 0);
    color: white;
    padding: 10px;
    border-radius: 25px;
    margin: 0 5px 0 5px;
}